/* 此处不能用 Tailwind 替代 */

.ant-tabs-content {
    height: 100%;
}

.ant-tabs-tabpane {
    height: 100%;
}

.subject_list {
    height: 100%;
    padding: 16px;

    /* 
     * TODO: 
     * 听说部分浏览器不支持, Windows 上是 WebView (edge), 不知道其他平台如何
     */
    overflow-y: overlay;
}

.subject_list::-webkit-scrollbar {
    width: 8px;
    height: 100%;
    background-color: transparent;
}

.subject_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.subject_list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
